# .dockerignore
/deploy/docker-compose.yml
/deploy/Dockerfile
/src.phpunit.cache
/src/node_modules
/srcpublic/build
/srcpublic/hot
/srcpublic/storage
/srcpublic/bucket
/src/storage/*.key
/vendor
/src/.env
/src/.env.example
/src/.env.backup
/src/.env.production
/src/.phpunit.result.cache
/src/Homestead.json
/src/Homestead.yaml
/src/auth.json
/src/npm-debug.log
/src/yarn-error.log
/.fleet
/.idea
/.vscode
.git
